nav{
    background-color: #0077b6;

}
.left{
    left: 20px;
}
.right{
    right: 20px;
}
.btn{
    background-color: white !important;
    color: #0077b6;
    font-size: 12px;
    font-weight: 500;
}
.btn:hover{
    background-color: #caf0f8 !important;
}
.cus-icon{
    color: white;
}

.material-icons.md-36 { font-size: 36px; }